@media all and (max-width: 1200px) {
    .child-container {
        width: 85%;
    }
}

@media all and (max-width: 768px) {
    .heading {
        font-size: 2.75rem;
    }
}

@media all and (max-width: 450px) {
    .heading {
        font-size: 2rem;
    }
}