.hero {
    margin-top: 32px;
    width: calc(100% - 240px);
    max-width: 2000px;
    display: flex;
    justify-content: center;
}
.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero__info-heading-container {
    width: fit-content;
    position: relative;
}

.hero__info-heading-container::before {
    content: url('/Assets/beads-design-1.png');
    position: absolute;
    top: -28px;
    left: -40px;
    z-index: -1;
}
.hero__info-heading-container::after {
    content: url('/Assets/beads-design-2.png');
    position: absolute;
    right: -32px;
    bottom: -32px;
    z-index: -1;
}

.hero__info-heading-container .info__heading-big-orange {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: var(--secondary-color);
}

.hero__info-heading-container .info__heading-small-black {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-color-faded);
}

.hero__info-heading-container .info__heading-big-blue {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: var(--primary-color);
}

.hero__info-about-text {
    width: 70%;
    max-width: 800px;
}

.hero__info-about-text .info__about-heading {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 12px;
}

.hero__info-about-text .info__about-text {
    font-size: 16px;
    color: var(--text-color-faded);
    line-height: 30px;
}

.hero__info-cta {
    
    width: 70%;
}

.cta__btn {
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 6px;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
}

.cta__btn-contact {
    margin-right: 30px;
}

.cta__btn-resume {
    background-color: #fff;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}