/* CSS RESET AND GLOBAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #3D59BF;
    --secondary-color: #F2A32C;
    --text-color: #070A0F;
    --text-color-faded: rgba(7, 10, 15, 0.85);
}

.heading {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    z-index: 2;
    max-width: 2000px;
    margin: auto;
}
.navbar__container {
    width: calc(100% - 240px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar__logo {
    height: 100%;
    width: 15%;
    color: var(--primary-color);
}

.navbar__logo img {
    height: 100%;
    width: 100%;
}

.navbar__logo-left {
    font-size: 96px;
    font-weight: bold;
}

.navbar__logo-right {
    font-size: 36px;
}

.navbar__logo-right-first {
    position: relative;
    left: -14px;
    top: 6px;
}

.navbar__logo-right-last {
    position: relative;
    top: 1px;
}

.navbar__list {
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar__item {
    position: relative;
}

.navbar__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    transition: 0.3s ease;
}

.navbar__link:hover,
.navbar__link:active,
.navbar__link:focus {
    color: var(--primary-color);
    transition: 0.3s ease;
}

.navbar__item:not(.btn-work)::before,
.navbar__item:active:not(.btn-work)::before, 
.navbar__item:focus:not(.btn-work)::before {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.3s ease;
}
.navbar__item:hover:not(.btn-work)::before,
.navbar__item:active:not(.btn-work)::before, 
.navbar__item:focus:not(.btn-work)::before {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transition: .3s ease;
}

.btn {
    background-color: var(--primary-color);
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
}

.btn-work .navbar__link {
    color: #fff;
}
/* NAVBAR STYLING ENDS */


.main__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HERO STYLING STARTS */
.hero {
    margin-top: 32px;
    width: calc(100% - 240px);
    max-width: 2000px;
    display: flex;
    justify-content: center;
}
.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero__info-heading-container {
    width: fit-content;
    position: relative;
}

.hero__info-heading-container::before {
    content: url('/Assets/beads-design-1.png');
    position: absolute;
    top: -28px;
    left: -40px;
    z-index: -1;
}
.hero__info-heading-container::after {
    content: url('/Assets/beads-design-2.png');
    position: absolute;
    right: -32px;
    bottom: -32px;
    z-index: -1;
}

.hero__info-heading-container .info__heading-big-orange {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: var(--secondary-color);
}

.hero__info-heading-container .info__heading-small-black {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-color-faded);
}

.hero__info-heading-container .info__heading-big-blue {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: var(--primary-color);
}

.hero__info-about-text {
    width: 70%;
    max-width: 800px;
}

.hero__info-about-text .info__about-heading {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 12px;
}

.hero__info-about-text .info__about-text {
    font-size: 16px;
    color: var(--text-color-faded);
    line-height: 30px;
}

.hero__info-cta {
    
    width: 70%;
}

.cta__btn {
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 6px;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
}

.cta__btn-contact {
    margin-right: 30px;
}

.cta__btn-resume {
    background-color: #fff;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
/* HERO STYLING ENDS */

/* SKILLS STYLING STARTS */
.skills {
    margin-top: 12rem;
    width: calc(100% - 240px);
    height: 35rem;
}

.skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.skills__heading h1 {
    text-align: center;
}

.skills__cards-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8rem;
}

.skills__cards-container .skill__card {
    height: 80%;
    width: 28%;
    /* border: 2px solid cyan; */
}

.skill__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
    box-shadow: -5px -5px 20px 1px rgba(0, 0, 0, 0.1), 5px 5px 20px 1px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.skill__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background-color: var(--secondary-color);
    z-index: -1;
    border-top-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0;
}

.skill__card:hover {
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

.skill__card-heading {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--primary-color);
}

.skill__card-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    width: 90%;
}

.skill__card-btn {
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.skill__card-btn:hover {
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out;
}

.skill__card-btn:hover > a,
.skill__card-btn:hover > i {
    color: #fff;
}

.skill__card-btn a {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: var(--primary-color);
}
    
.skill__card-btn i {
    color: var(--primary-color);
}
/* SKILLS STYLING ENDS */

/* EDUCATION STYLING STARTS */
.education {
    margin-top: 12rem;
    width: calc(100% - 240px);
    height: 35rem;
}

.education__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.education__heading h1 {
    text-align: center;
}

.education__cards-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8rem;
}

.education__cards-container .education__card {
    height: 80%;
    width: 28%;
    /* border: 2px solid cyan; */
}

.education__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
    box-shadow: -5px -5px 20px 1px rgba(0, 0, 0, 0.1), 5px 5px 20px 1px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.education__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background-color: var(--secondary-color);
    z-index: -1;
    border-top-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0;
}

.education__card:hover {
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

.education__card-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.education__card-heading .major {
    font-size: 1.2rem;
}

.education__card-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    width: 90%;
}

.education__card-text .year {
    color: var(--secondary-color);
    font-size: 0.8rem;
}

.education__card-text span {
    margin: 2px;
}

.education__card-text span,
.education__card-heading span {
    display: block;
}

.education__card-gpa,
.education__card-percentage {
    text-align: center;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 500;
}
/* EDUCATION STYLING ENDS */