.active {
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

@media all and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    .navbar {
        position: relative;
    }
    .navbar-hamburger__container {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        z-index: 100;
    }
    .navbar__list {
        background-color: var(--primary-color);
        position: absolute;
        top: 0vh;
        right: 0;
        height: 100vh;
        width: 400px;
        z-index: 20;
        padding: 10px 0;
        transform: translateX(100%);
        transition: all 0.5s ease;
        display: block;
    }
    .navbar__list.active {
        transform: translateX(0%);
    }
    .navbar__item {
        padding: 1rem 2rem;
        margin: 6rem 1rem;
        text-align: center;
        border: 2px solid red;
        /* display: block; */
        color: #fff;
    }
    .navbar__link {
        color: #fff;
        font-size: 24px;
    }
    .btn-work {
        background-color: var(--secondary-color);
    }
}