.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    z-index: 2;
    margin: auto;
    transition: all 0.3s ease;
}
.navbar__container {
    justify-content: space-between;
    height: 100%;
}

.navbar__logo {
    height: 100%;
    width: 200px;
    color: var(--primary-color);
    z-index: 3;
}

.logo-item {
    transition: all 0.3s ease;
}

.navbar__logo img {
    height: 100%;
    width: 100%;
}

.navbar__list {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border: 2px solid green;
}

.navbar__item {
    position: relative;
    padding: 0 30px;
    margin: 0 20px;
    transition: all 0.3s ease;
}
.navbar__item.last {
    padding: 0.5rem 1rem;
}

.navbar__link {
    color: var(--text-color);
    font-size: 20px;
    transition: 0.3s ease;
}

.navbar__link:hover {
    color: var(--primary-color);
    transition: 0.3s ease;
}

.navbar__item:not(.btn-work)::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.3s ease;
    transform: translateX(-50%);
}

.navbar__item:hover:not(.btn-work)::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.3s ease;
    transform: translateX(-50%);
}

.btn-work .navbar__link {
    color: #fff;
}

.navbar-hamburger__container {
    z-index: 1020;
    display: none;
}

.bars::before {
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.bars.scroll::before {
    color: #fff;
    transition: all 0.3s ease;
}


.scrolled {
    background-color: var(--primary-color);
    transition: all 0.3s ease;
}

.navbar__logo-scrolled {
    color: #fff;
}

.navbar__items-scrolled {
    color: #fff;
}

.nav-btn-scrolled {
    background-color: var(--secondary-color);
    transition: 0.3s ease;
}

.navbar__link.navbar__items-scrolled:not(.btn-work):hover {
    color: #fff;
}

.navbar__item.navbar__items-scrolled:not(.btn-work)::before {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.3s ease;
    z-index: 10;
}

.navbar__item.navbar__items-scrolled:hover:not(.btn-work)::before {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 60%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s ease;
    z-index: 10;
}