* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #3d59bf;
    --secondary-color: #f2a32c;
    --text-color: #070a0f;
    --gradient: linear-gradient(
        90deg,
        rgba(255, 219, 58, 1) 0%,
        rgba(255, 205, 128, 1) 100%
    );
}

a {
    text-decoration: none;
}

/* ==============================================
            UTILITY CLASSES 
================================================= */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    padding: 3rem 0;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;
    box-shadow: -5px -5px 20px 1px rgba(0, 0, 0, 0.1),
        5px 5px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    transition: 0.3s ease;
    max-width: 500px;
    min-width: 320px;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background-color: var(--secondary-color);
    z-index: -1;
    border-top-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 7rem;
}

.section {
    margin-top: 3rem;
}



/* ==============================================
            TYPOGRAPHY 
================================================= */
h3 {
    font-size: 2rem;
}

.nav-link,
.main-body,
.heading {
    color: var(--text-color);
}

.nav-link,
.main-body {
    font-size: 1.25rem;
}

.heading {
    font-size: 2.5rem;
}

.heading-style {
    padding: 0.25em;
    position: relative;
}

.heading-style::before,
.heading-style:hover::before,
.heading-style::after,
.heading-style:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: 0.3s ease;
}

.heading-style::before,
.heading-style:hover::before,
.heading-style:hover::after {
    top: 0px;
    left: 0px;
}

.heading-style::before,
.heading-style:hover::before {
    background: var(--gradient);
}

.heading-style::after,
.heading-style:hover::after {
    border: 2px solid var(--text-color);
}

.heading-style::before {
    transform: skewX(-20deg);
}

.heading-style:hover::before {
    transform: skewX(0deg);
}

.heading-style::after {
    top: 3px;
    left: 3px;
    transform: skewX(-20deg);
}

.heading-style:hover::after {
    transform: skewX(0deg);
}

.heading-orange {
    color: var(--secondary-color);
}

.main-heading > p {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 700;
}

.main-body {
    opacity: 0.75;
    line-height: 1.6;
}

.card-heading {
    font-weight: 700;
    text-align: center;
}

.card-text--main,
.card-text--primary {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.card-text--main {
    margin-top: 1.5rem;
}

.card-text--secondary,
.card-footer {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.card-footer,
.card-footer a {
    padding: 0.5em 0.75em;
    border-radius: 6px;
    transition: 0.3s ease;
}

.card-footer a:focus,
.card-footer a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.card-footer {
    margin-top: 2.25rem;
}

.color-primary {
    color: var(--primary-color);
}

/* BUTTON STYLES */
.btn {
    font-size: 1.25rem;
    padding: 0.5em 1.5em;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
    transition: 0.3s ease;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
}

.btn:hover,
.btn:focus {
    transform: scale(1.03);
}

/* ==================================================
            LAYOUT
===================================================== */

/* NAVBAR */

header {
    max-width: 2000px;
}

.navbar {
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-hamburger--menu {
    display: none;
}

.nav-list {
    list-style-type: none;
}

.nav-list--item {
    padding: 0.75em 1.25em;
    margin-left: 1.5em;
    position: relative;
}

.nav-list--item::before,
.nav-list--item:hover::before,
.nav-list--item:focus::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    background-color: var(--primary-color);
    transform: translate(-50%, 0);
    transform-origin: left;
    transition: 0.3s ease;
}

.nav-list--item::before {
    width: 0;
}

.nav-list--item:hover::before {
    width: 70%;
}

.nav-list--item:hover .nav-link {
    color: var(--primary-color);
    transition: 0.3s ease;
}

/* HOME */

.main-content {
    margin-top: 2rem;
    opacity: 0;
    transition: 1s ease;
}

.main-content.active {
    opacity: 1;
    transform: 1s ease;
}

.main-content--container {
    align-items: stretch;
    justify-content: center;
}

.main-info {
    width: 55%;
}

.main-img {
    width: 30%;
}

.main-img img {
    width: 100%;
}

.main-heading {
    display: flex;
    flex-direction: column;
}

.heading-orange {
    order: 1;
}

.heading-blue {
    order: 3;
}

.main-heading p {
    order: 2;
}

.main-body,
.main-cta--container {
    width: 85%;
    margin-top: 2rem;
}

.main-cta--container {
    padding: 1.5rem 0;
    display: flex;
    gap: 2em;
}

/* CONNECT WITH ME */

.contact-social--container {
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.contact-social--container .social-icon--container {
    margin-top: 2.5rem;
}

.social-icon--container i {
    font-size: 2rem;
    padding: 0.25em;
    margin: 0 0.5em;
    border-radius: 6px;
    color: var(--primary-color);
    transition: 0.3s ease;
}

.social-icon--container i:hover,
.social-icon--container i:focus {
    color: #fff;
    background-color: var(--primary-color);
}

/* SKILL SECTION */
.skill .card-text--main {
    border: 2px solid red;
    width: 80%;
}

/* CONTACT SECTION */

.contact-text {
    margin-top: 1.5rem;
}

.contact-form {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
}

input,
textarea {
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em;
    font-size: 1.25rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: 0.3s ease;
    border-radius: 6px;
}

input:focus,
textarea:focus {
    transform: scale(1.03);
    transition: 0.3s ease;
    background-color: var(--primary-color);
    color: #fff;
    border: 2px solid #fff;
}

.btn-contact {
    border: 2px solid var(--text-color);
    color: var(--text-color);
    margin-top: 1.25rem;
    text-align: center;
    background: var(--gradient);
}

/* FOOTER SECTION */

footer {
    margin-top: 3rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
}

footer .social-icon--container * {
    color: #fff;
    font-size: 1.5rem;
}

footer > .container {
    padding: 0;
    gap: 2.5rem;
}

.footer-heading {
    font-size: 2.5rem;
}
