* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #3D59BF;
    --secondary-color: #F2A32C;
    --text-color: #070A0F;
}

a {
    text-decoration: none;
}

/* ==============================================
            TYPOGRAPHY 
================================================= */
h3 {
    font-size: 2rem;
}

.nav-link,
.main-body {
    font-size: 1.25rem;
    color: var(--text-color);
}

.heading {
    font-size: 2.5rem;
    color: var(--text-color);
}

.heading-orange {
    color: var(--secondary-color);
}

.heading-blue {
    color: var(--primary-color);
}

.main-heading > p {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 700;
}

.main-body {
    opacity: 0.75;
}

.card-heading {
    color: var(--primary-color);
    font-weight: 700;
}

.card-text--main,
.card-text--primary {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
}

.card-text--secondary,
.card-footer {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.card-footer, .card-footer a {
    color: var(--primary-color);
}

/* BUTTON STYLES */
.btn {
    font-size: 1.25rem;
    padding: 0.75em 1.5em;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
}

.btn-secondary {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}