.footer {
    background-color: var(--primary-color);
    height: 10vh;
}

.footer-child {
    width: 100%;
    justify-content: space-around;
}

.footer__middle {
    width: 20%;
}

.footer__heading {
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
}

.social__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footer .fab,
.footer .fas {
    font-size: 1.5rem;
    color: #fff;
}

.footer-btn {
    background-color: var(--secondary-color);
}

@media all and (max-width: 1080px) {
    .footer__middle {
        width: 30%;
    }
}

@media all and (max-width: 768px) {
    .footer__heading {
        font-size: 1.2rem;
    }
    .footer__middle {
        width: 40%;
    }
}

@media all and (max-width: 450px) {
    .footer-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;   
        justify-content: space-around;
    }

    .footer__middle {
        width: 60%;
    }

    .footer .fab,
    .footer .fas {
        font-size: 1.2rem;
    }
}