.skills {
    margin-top: 3rem;
    height: 35rem;
    height: 80vh;
}

.skills__container {
    height: 100%;
}

.skills__heading h1 {
    text-align: center;
}

.skill__card {
    justify-content: space-around;
}

.skill__card-heading {
    font-size: 1.75rem;
}

.skill__card-btn {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.skill__card-btn:hover {
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out;
}

.skill__card-btn:hover > a,
.skill__card-btn:hover > i {
    color: #fff;
}

.skill__card-btn a {
    text-align: center;
    font-size: 1rem;
    color: var(--primary-color);
}
    
.skill__card-btn i {
    color: var(--primary-color);
}