@media all and (max-width: 1200px) {
    .skills {
        height: 100vh;
    }
    .skills__container {
        justify-content: space-between;
    }
    .skills__cards-container {
        flex: 0.9;
    }
    .skill__card {
        height: 450px;
        width: 350px;
    }
}

@media all and (max-width: 1000px) {
    .skills__cards-container {
        flex-direction: column;
        gap: 2rem;
    }
    .skill__card {
        width: 400px;
        height: 250px;
    }
}

@media all and (max-width: 768px) {
    .skills__container {
        width: 95%;
    }
}

@media all and (max-width: 450px) {
    .skills__cards-container {
        justify-content: space-between;
        gap: 0;
    }
    .skill__card {
        width: 100%;
        height: 45%;
    }
    .skill__card-heading {
        font-size: 1.25rem;
        width: fit-content;
    }
    .skill__card-text {
        font-weight: 500;
    }
    .fsh {
        width: 60%;
    }
}