@media all and (max-width: 1200px) {
    .contact {
        height: 60vh;
    }

    .contact__info-personal {
        width: 80%;
    }
}

@media all and (max-width: 900px) {
    .contact-child {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .contact__info-personal {
        width: 100%;
        border-radius: 0;
    }

    .personal {
        width: 100%;
    }

    .info-list {
        width: 80%;
    }

    .personal__name {
        font-size: 2rem;   
        font-weight: bold;
        color: var(--secondary-color);
    }
    
    .personal__role {
        font-size: 1rem;
    }
    
    .personal__email {
        font-size: 1.25rem;
    }
}

@media all and (max-width: 450px) {
    .personal__name {
        font-size: 1.5rem;   
        font-weight: bold;
        color: var(--secondary-color);
    }
    
    .personal__role {
        font-size: 0.8rem;
    }
    
    .personal__email {
        font-size: 1rem;
    }
}
@media all and (max-width: 370px) {
    .personal__name {
        font-size: 1.3rem;   
        font-weight: bold;
        color: var(--secondary-color);
    }
    
    .personal__role {
        font-size: 0.6rem;
    }
    
    .personal__email {
        font-size: 0.8rem;
    }
}