.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 240px);
    min-height: 42rem;
    margin-top: 5rem;
}

.contact__content {
    display: flex;
    width: 80%;
    flex: 1;
    max-height: 530px;
    justify-content: center;
}

.contact__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    position: relative;
    background-color: var(--primary-color);
}

.contact__info::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -4px;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    transform: rotate(45deg);
}

.personal .personal__info {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 8px;
}

.info__img img {
    height: 200px;
    width: 200px;
}

.info-list {
    padding: 8px;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.contact-form__container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form__field {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
}

.form__field label {
    padding: 8px 0;
    display: block;
}

.form__field input,
.form__field textarea {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    padding: 4px 8px; 
    color: var(--primary-color);
    font-size: 1rem;
    width: 100%;
}

.form__field textarea {
    border-radius: 6px;
    resize: none;
    border: 2px solid var(--primary-color);
}

.form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

.form__btn a {
    color: var(--text-color);
}