.hero {
    margin-top: 3rem;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 55%;
}

.hero__info-heading-container {
    width: fit-content;
    position: relative;
}

.hero__info-heading-container::before {
    content: url('/Assets/beads-design-1.png');
    position: absolute;
    top: -28px;
    left: -40px;
    z-index: -1;
}
.hero__info-heading-container::after {
    content: url('/Assets/beads-design-2.png');
    position: absolute;
    right: -32px;
    bottom: -32px;
    z-index: -1;
}

.hero__info-heading-container .info__heading-big-orange,
.hero__info-heading-container .info__heading-big-blue {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: var(--secondary-color);
}

.hero__info-heading-container .info__heading-big-blue {
    color: var(--primary-color);
}

.hero__info-heading-container .info__heading-small-black {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-color-faded);
}

.hero__info-about-text {
    width: 70%;
    max-width: 800px;
}

.hero__info-about-text .info__about-heading {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 12px;
}

.hero__info-about-text .info__about-text {
    font-size: 16px;
    color: var(--text-color-faded);
    line-height: 30px;
}

.hero__info-cta {
    width: 70%;
    height: auto;
    justify-content: flex-start;
    gap: 3rem;
}
.resume-btn a {
    color: var(--primary-color);
}

.hero__image {
    width: 45%;
}
