.hero__image {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1440px) {
    .hero {
        height: 100vh;
    }
    .hero__container {
        flex-direction: column-reverse;
    }

    .hero__image {
        height: 50%;
    }

    .hero__image img {
        height: 100%;
    }

    .hero__info {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero__info-cta {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .hero__info-heading-container {
        width: fit-content;
        text-align: center;
    }

    .hero__info-about-text {
        width: 80%;
        text-align: center;
        font-weight: 500;
    }

    .hero__info-heading-container .info__heading-big-orange,
    .hero__info-heading-container .info__heading-big-blue {
        font-size: 28px;
        line-height: 42px;
    }

    .hero__info-heading-container .info__heading-small-black {
        font-size: 12px;
        line-height: 18px;
    }

    .hero__info-about-text .info__about-heading {
        font-size: 16px;
    }

    .hero__info-about-text .info__about-text {
        font-size: 12px;
        line-height: 18px;
    }

    .cta__btn {
        width: 8rem;
        height: 2.2rem;
    }
}

@media all and (max-width: 767px) {
    .hero {
        width: 80%;
    }
    .hero__image {
        height: 35%;
    }
    .hero__info {
        height: 65%;
    }

    .hero__info-about-text {
        width: 100%;
    }
}

@media all and (max-width: 642px) {
    .hero {
        width: 80%;
    }
    .hero__container {
        justify-content: flex-end;
    }
    .hero__info {
        height: 50%;
    }
    .hero__info-heading-container .info__heading-big-orange,
    .hero__info-heading-container .info__heading-big-blue {
        font-size: 20px;
        line-height: 30px;
    }
    .hero__info-heading-container .info__heading-small-black {
        font-size: 8px;
        line-height: 12px;
    }

    .hero__info-about-text {
        width: 80%;
    }

    .hero__info-about-text .info__about-heading {
        font-size: 12px;
    }

    .hero__info-about-text .info__about-text {
        font-size: 10px;
    }

    .cta__btn {
        width: 6rem;
        font-size: 16px;
    }
}

@media all and (max-width: 490px) {
    .hero__info-about-text {
        width: 100%;
    }

    .cta__btn {
        font-size: 12px;
        height: 2rem;
    }
}