@media all and (max-width: 1200px) {
    .education {
        height: 60vh;
    }
    .education__container {
        justify-content: space-between;
    }
    .education__cards-container {
        flex: 0.9;
    }
    .education__card {
        height: 450px;
        width: 350px;
    }
}
@media all and (max-width: 1000px) {
    .education {
        height: 90vh;
    }
    .education__container {
        width: 95%;
    }
    .education__cards-container {
        flex-direction: column;
        gap: 2rem;
    }
    .education__card {
        width: 400px;
        height: 250px;
    }
}
@media all and (max-width: 450px) {
    .education {
        height: 100vh;
    }

    .education__cards-container {
        justify-content: space-between;
        gap: 1;
    }
    .education__card {
        width: 100%;
        height: 48%;
    }
    .education__card-heading {
        font-size: 1.25rem;
        width: 100%;
    }
    .education__card-text {
        font-weight: 500;
    }
    .major {
        width: 100%;
    }
}

/* landscape */

@media all and (max-width: 1200px) and (orientation: landscape) {
    .education {
        height: 85vh;
    }
}

@media all and (max-width: 1000px) and (orientation: landscape) {
    .education {
        height: 185vh;
    }
}

@media all and (max-width: 768px) and (orientation: landscape) {
    .education {
        height: 165vh;
    }

}

@media all and (max-width: 650px) and (orientation: landscape) {
    .education {
        height: 230vh;
    }
}