.education {
    margin-top: 12rem;
    width: calc(100% - 240px);
    height: 35rem;
}

.education__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.education__heading h1 {
    text-align: center;
}

.education__cards-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8rem;
}

.education__cards-container .education__card {
    /* height: 80%;
    width: 28%;
    max-width: 371px; */
    height: 90%;
    width: 40%;
    max-width: 400px;
}

.education__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
    box-shadow: -5px -5px 20px 1px rgba(0, 0, 0, 0.1), 5px 5px 20px 1px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.education__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background-color: var(--secondary-color);
    z-index: -1;
    border-top-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0;
}

.education__card:hover {
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

.education__card-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.education__card-heading .major {
    font-size: 1.2rem;
}

.education__card-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    width: 90%;
}

.education__card-text .year {
    color: var(--secondary-color);
    font-size: 0.8rem;
}

.education__card-text span {
    margin: 2px;
}

.education__card-text span,
.education__card-heading span {
    display: block;
}

.education__card-gpa,
.education__card-percentage {
    text-align: center;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 500;
}