.education {
    margin-top: 3rem;
    height: 35rem;
    height: 80vh;
}

.education__container {
    height: 100%;
}

.education__heading h1 {
    text-align: center;
}

.education__card {
    height: 350px;
    width: 350px;
    justify-content: space-around;
}

.education__card-heading {
    font-size: 1.5rem;
}

.education__card-heading .major {
    font-size: 1.2rem;
}

.education__card-text .year {
    color: var(--secondary-color);
    font-size: 0.8rem;
}

.education__card-text span {
    margin: 2px;
}

.education__card-text span,
.education__card-heading span {
    display: block;
}

.education__card-gpa,
.education__card-percentage {
    text-align: center;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 500;
}