@media all and (max-width: 1200px) {
    .education {
        height: 60vh;
    }
    .education__container {
        justify-content: space-between;
    }
    .education__cards-container {
        flex: 0.9;
    }
    .education__card {
        height: 450px;
        width: 350px;
    }
}
@media all and (max-width: 1000px) {
    .education__container {
        width: 95%;
    }
    .education__cards-container {
        flex-direction: column;
        gap: 2rem;
    }
    .education__card {
        width: 400px;
        height: 250px;
    }
}
@media all and (max-width: 450px) {
    .education__cards-container {
        justify-content: space-between;
        gap: 0;
    }
    .education__card {
        width: 100%;
        height: 45%;
    }
    .education__card-heading {
        font-size: 1.25rem;
        width: 100%;
    }
    .education__card-text {
        font-weight: 500;
    }
    .major {
        width: 100%;
    }
}